body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pear-card {
  background-image: linear-gradient(to bottom right, #72cf9c, #c7f9cc);
  text-align: center;
}
.piccup-card {
  background-color: #00d1b2 !important;
  text-align: center;
  vertical-align: middle;
}
